.*.swp
.build

META.yml
!META.json
MYMETA.yml
MYMETA.json
blib/
Build
_build/
pm_to_blib
dist.ini
MANIFEST
MANIFEST.bak
exp/
tmp/
Changes.bak
log/tmp.log*

.local-v*
README

# podweaver backups
script/*.bak
*.pm.bak

# Distribution specific
Perl-Tidy-Sweetened*
perltidy.LOG
perltidy.ERR
