Build
META.yml
META.json
MYMETA.yml
MYMETA.json
MANIFEST
MANIFEST.bak
Makefile.PL
Makefile
README
_build/
blib/
Perl-Tidy-Sweetened*
lib/PPIx
Changes.bak
*.swp
.DS_Store
Session.vim
t.pl
t[0-9]*.pl
tmp/
*.bak
.local-v*
perltidy.LOG
perltidy.ERR
